APP_ENV=prod
APP_SECRET=CHANGE_ME_RANDOM_32_HEX
MONGODB_URL=mongodb://localhost:27017
MONGODB_DB=aurora
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=CHANGE_ME
JWT_TOKEN_TTL=900
CORS_ALLOW_ORIGIN=*
